# SENTIMENT ANALYSIS using text blob with Obaid Masih _ Senior Data Scientist at Citi Irving TX

In [1]:
import nltk

In [2]:
#nltk.download_shell()

In [3]:
import os
os.chdir(
'C:\\Users\\obaid\\OneDrive\\Documents\\Python')
import numpy as np
import pandas as pd
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split

In [4]:
wordnet_lemmatizer= WordNetLemmatizer()  ### turns words into base words like (doggie, dogs, dog, dawg) ->dog, brittany to brittini 

stopwords =  set( w.rstrip()  for w in open('stopwords.txt'))

In [5]:
df = pd.read_csv('yelp.csv')
df.head(3)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0

In [6]:
## Lets do simple sentiment analysis withtext blob 
from textblob  import TextBlob

In [7]:
i=0
for i in df['text']:
     df['pol1'] = TextBlob(i).sentiment.polarity
     df['subj1']=TextBlob(i).sentiment.subjectivity

In [8]:
df[["text","pol1","subj1"]].head(5)

                                                text      pol1  subj1
0  My wife took me here on my birthday for breakf...  0.241667  0.525
1  I have no idea why some people give bad review...  0.241667  0.525
2  love the gyro plate. Rice is so good and I als...  0.241667  0.525
3  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...  0.241667  0.525
4  General Manager Scott Petello is a good egg!!!...  0.241667  0.525