In [1]:
## Tokenization
## it is simply split() function     mystring.split()
##  mystring = "how are you doing".
##  mystring.split()=["how","are","you"]

# Tokenization is just a fancy split. reason we don't use split() in python is
1. words cannot contain contractions like don't , wouldn't and etc. 
they have to be put in as do not or would not 
2. extract punctuations and symbols like $,#, comma, colon , semi colon and - _

# Custom tokenizataion 
1. needed to get rid of specific stop words 
2. for example we need to remove specici letters, numbers or etc. 
3.nltk allows us to customize this tokenization

In [2]:
import nltk

In [ ]:
#nltk.download_shell()

In [4]:
import os
os.chdir(
'C:\\Users\\obaid\\OneDrive\\Documents\\NLP')
import numpy as np
import pandas as pd
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split

In [5]:
### lets create our instances 
wordnet_lemmatizer= WordNetLemmatizer()  ### turns words into base words like (doggie, dogs, dog, dawg) ->dog, brittany to brittini 

stopwords =  set( w.rstrip()  for w in open('stopwords.txt'))

In [6]:
###  get the data imported 
df = pd.read_csv('yelp.csv')
df.head(3)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0

In [7]:
### lets try to refine our results 
df["stars"]= df["stars"].map({1:0, 2:0,3:1,4:1,5:1})  ## must turn ratings to 1 or 0
df.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,1,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,1,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,1,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,1,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,1,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [8]:
### simple count vectorizer 


from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
tfidf = TfidfVectorizer(decode_error='ignore')
cv = CountVectorizer(decode_error='ignore')

X = cv.fit_transform(df["text"])
Y = df["stars"]

Xtrain,Xtest,Ytrain,Ytest = train_test_split(X,Y,test_size=0.4)

from sklearn.naive_bayes import MultinomialNB 
nb = MultinomialNB()
nb.fit(Xtrain,Ytrain)
print(" No tokenization Naive Bayes accuracy",nb.score(Xtest,Ytest))

 No tokenization Naive Bayes accuracy 0.8795

In [9]:
#from sklearn.ensemble import RandomForestClassifier
#rfc = RandomForestClassifier(n_estimators=200)
#rfc.fit(Xtrain,Ytrain)
#print("No tokenization rfc accuracy",rfc.score(Xtest,Ytest))

In [10]:
## lets define our very own tokenizer built on top of nltk tokenizer
## convert everything to lower case 
## use nltk tokenizer
## use only tokens that are more than 2 in length
## lemmatize them meaning al of them to root word
## remove stop words


def my_tokenizer(s):
    s = s.lower() # downcase
    tokens = nltk.tokenize.word_tokenize(s) # split string into words (tokens)
    tokens = [t for t in tokens if len(t) > 2] # remove short words, they're probably not useful
    tokens = [wordnet_lemmatizer.lemmatize(t) for t in tokens] # put words into base form
    tokens = [t for t in tokens if t not in stopwords] # remove stopwords
    return tokens

In [11]:
#df['textX']= df['text'].apply(my_tokenizer) #### This custom more efficent tokenizer can aslo be fed to word2VEC or Glove

In [12]:
 
cv2 = CountVectorizer(tokenizer=my_tokenizer,
                             preprocessor=None,
                             lowercase=False ,decode_error='ignore')
X = cv2.fit_transform(df['text'])
Y = df["stars"]

In [13]:
Xtrain,Xtest,Ytrain,Ytest = train_test_split(X,Y,test_size=0.4)

#from sklearn.ensemble import RandomForestClassifier
#rfc = RandomForestClassifier(n_estimators=200)
#rfc.fit(Xtrain,Ytrain)
#print(" Obaid custom tokenizer rfc accuracy",rfc.score(Xtest,Ytest))

In [14]:
from sklearn.naive_bayes import MultinomialNB 
nb = MultinomialNB()
nb.fit(Xtrain,Ytrain)
print(" Obaid Custom tokenizer Naive Bayes accuracy",nb.score(Xtest,Ytest))

 Obaid Custom tokenizer Naive Bayes accuracy 0.871